In [20]:
import pandas as pd
import numpy as np

#read the dataset from dataset folder "Individual Traffic Data.csv" & "Traffic Statistics Data.csv"
_df_individual = pd.read_csv("Dataset/Individual Traffic Data.csv", sep=';', engine='python');
_df_overall = pd.read_csv("Dataset/Traffic Statistics Data.csv", sep=';', engine='python');

#get the header of both dataframe
print("This is the list of _df_individual: " + str(list(_df_individual)))
print("This is the list of _df_overall: " + str(list(_df_overall)))

This is the list of _df_individual: ['UMRRID', ' BusNo', ' MessageNo', ' Length', ' Time', ' ObjectNumber', ' ObjectID', ' Lane', ' mLine', ' Class', ' Speed', ' ']
This is the list of _df_overall: ['UMRRID', ' Time', ' MessageNr', ' MeasLine', ' Lane', ' Class', ' Headway [s]', ' 85p. Speed', ' Avg. Speed', ' Gap [s]', ' Volume', ' Occupancy [%]', ' ']

In [17]:
_df_individual

,UMRRID,BusNo,MessageNo,Length,Time,ObjectNumber,ObjectID,Lane,mLine,Class,Speed,
0,0,1,512,1541146079,2/11/2017 4:24:39 PM,0,20,1,0,4,-14.0,
1,0,1,612,1541157080,2/11/2017 4:24:40 PM,0,22,0,0,3,7.2,
2,0,1,313,1546127085,2/11/2017 4:24:45 PM,0,21,1,0,4,-14.0,
3,0,1,313,1549167090,2/11/2017 4:24:50 PM,0,23,1,0,4,-14.0,
4,0,1,613,1541147090,2/11/2017 4:24:50 PM,0,24,0,0,3,7.2,
5,0,1,114,1531147096,2/11/2017 4:24:56 PM,0,25,1,0,4,-14.0,
6,0,1,115,1511147101,2/11/2017 4:25:01 PM,0,26,1,0,4,-14.0,
7,0,1,215,1841147102,2/11/2017 4:25:02 PM,0,28,0,0,3,7.2,
8,0,1,916,1541147106,2/11/2017 4:25:06 PM,0,27,1,0,4,-14.0,
9,0,1,916,1511147111,2/11/2017 4:25:11 PM,0,29,1,0,4,-14.0,
10,0,1,216,1041147112,2/11/2017 4:25:12 PM,0,30,0,0,3,7.2,
11,0,1,717,1141147117,2/11/2017 4:25:17 PM,0,31,1,0,4,-14.0,
12,0,1,718,1341147122,2/11/2017 4:25:22 PM,0,32,1,0,4,-14.0,
13,0,1,818,1141447123,2/11/2017 4:25:23 PM,0,34,0,0,3,7.2,
14,0,1,519,1141547128,2/11/2017 4:25:28 PM,0,33,1,0,4,-14.0,
15,0,1,519,1541347133,2/11/2017 4:25:33 PM,0,35,1,0,4,-14.0,
16,0,1,819,1841147133,2/11/2017 4:25:33 PM,0,36,0,0,3,7.2,

In [63]:
#average sum of 'Avg. Speed' (whole column of _df_individual)
_avg_sum_spd_individual = _df_individual[' Speed'].abs().mean()
print(_avg_sum_spd_individual)

#average sum of 'Avg. Speed' (based on selected element in _df_individual)
#_avg_sum_spd_individual = _df_individual.groupby([' Speed']).size().reset_index(name='counts')
_avg_sum_spd_individual_nb = _df_individual[(_df_individual[' Speed'].values <=0) & (_df_individual['UMRRID'] == 0)]
print(_avg_sum_spd_individual_nb[' Speed'].abs().mean())

_avg_sum_spd_individual_sb = _df_individual[(_df_individual[' Speed'].values >0) & (_df_individual['UMRRID'] == 0)]
print(_avg_sum_spd_individual_sb[' Speed'].abs().mean())

11.6
14.0
7.2

In [12]:
_df_overall

,UMRRID,Time,MessageNr,MeasLine,Lane,Class,Headway [s],85p. Speed,Avg. Speed,Gap [s],Volume,Occupancy [%],
0,0,2/11/2017 4:25:06 PM,0,0,0,0,11.004,0,0.00,10.304,0,0.00,
1,0,2/11/2017 4:25:06 PM,1,0,0,1,0.000,0,0.00,0.000,0,0.00,
2,0,2/11/2017 4:25:06 PM,2,0,0,2,0.000,0,0.00,0.000,0,0.00,
3,0,2/11/2017 4:25:06 PM,3,0,0,3,0.000,16,15.94,0.000,6,7.00,
4,0,2/11/2017 4:25:06 PM,4,0,0,4,0.000,0,0.00,0.000,0,0.00,
5,0,2/11/2017 4:25:06 PM,5,0,1,0,5.460,0,0.00,4.844,0,0.00,
6,0,2/11/2017 4:25:06 PM,6,0,1,1,0.000,0,0.00,0.000,0,0.00,
7,0,2/11/2017 4:25:06 PM,7,0,1,2,0.000,0,0.00,0.000,0,0.00,
8,0,2/11/2017 4:25:06 PM,8,0,1,3,0.000,0,0.00,0.000,0,0.00,
9,0,2/11/2017 4:25:06 PM,9,0,1,4,0.000,-32,-31.77,0.000,11,10.99,

In [23]:
#average sum of 'Avg. Speed' (_df_overall)
_avg_sum_spd_overall = _df_overall[' Avg. Speed'].abs().mean()
print(_avg_sum_spd_overall)

4.771